@-webkit-keyframes ani-bg {
  0% {
    background-color: rgba(0, 0, 0, 0.75); }
  50% {
    background-color: rgba(0, 0, 0, 0.75); }
  100% {
    background-color: rgba(0, 0, 0, 0.75); } }
@-moz-keyframes ani-bg {
  0% {
    background-color: rgba(0, 0, 0, 0.75); }
  50% {
    background-color: rgba(0, 0, 0, 0.75); }
  100% {
    background-color: rgba(0, 0, 0, 0.75); } }
@-ms-keyframes ani-bg {
  0% {
    background-color: rgba(0, 0, 0, 0.75); }
  50% {
    background-color: rgba(0, 0, 0, 0.75); }
  100% {
    background-color: rgba(0, 0, 0, 0.75); } }
@-o-keyframes ani-bg {
  0% {
    background-color: rgba(0, 0, 0, 0.75); }
  50% {
    background-color: rgba(0, 0, 0, 0.75); }
  100% {
    background-color: rgba(0, 0, 0, 0.75); } }
@keyframes ani-bg {
  0% {
    background-color: rgba(0, 0, 0, 0.75); }
  50% {
    background-color: rgba(0, 0, 0, 0.75); }
  100% {
    background-color: rgba(0, 0, 0, 0.75); } }
@-webkit-keyframes ani-hd {
  0% {
    color: #ff5a77; }
  50% {
    color: #ffc75a; }
  100% {
    color: #ff5a77; } }
@-moz-keyframes ani-hd {
  0% {
    color: #ff5a77; }
  50% {
    color: #ffc75a; }
  100% {
    color: #ff5a77; } }
@-ms-keyframes ani-hd {
  0% {
    color: #ff5a77; }
  50% {
    color: #ffc75a; }
  100% {
    color: #ff5a77; } }
@-o-keyframes ani-hd {
  0% {
    color: #ff5a77; }
  50% {
    color: #ffc75a; }
  100% {
    color: #ff5a77; } }
@keyframes ani-hd {
  0% {
    color: #ff5a77; }
  50% {
    color: #ffc75a; }
  100% {
    color: #ff5a77; } }
* {
  font-family: 'profontwindowsregular'; }

html {
  background-image: url("/img/synth-bw.jpg");
  background-size: cover; }

h1, h2 {
  text-align: center;
  color: #ff748c;
  margin: 2vw 0;
  line-height: 0.75;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem; }

h1 {
  font-size: 7vw; }

h2 {
  font-size: 4vw;
  padding: 4vw; }
  @media all and (min-width: 640px) {
    h2 {
      padding: 0.5rem;
      font-size: 1.5rem; } }

h3 {
  margin: 0;
  padding: 0 0.5rem;
  font-size: 4vw; }
  @media all and (min-width: 640px) {
    h3 {
      font-size: 1.5rem; } }

.splash {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  position: relative;
  height: 25vw;
  margin-bottom: 5vw; }
  .splash a {
    width: 100%; }
  @media all and (min-width: 640px) {
    .splash {
      height: 12rem; } }

.logo {
  display: block;
  position: absolute;
  height: 20vw;
  top: 2vw;
  left: 4vw; }
  @media all and (min-width: 640px) {
    .logo {
      left: 1rem;
      top: 0.5rem;
      height: 9.25rem; } }

.dates {
  position: absolute;
  text-align: right;
  margin: 0;
  font-size: 4vw;
  left: 2vw;
  bottom: -10vw; }
  @media all and (min-width: 640px) {
    .dates {
      left: 1rem;
      bottom: -1rem;
      font-size: 2rem; } }

.schedule {
  zoom: 1;
  overflow: hidden; }

.column {
  box-sizing: border-box;
  padding: 5vw; }
  @media all and (min-width: 640px) {
    .column {
      padding: 0.5rem;
      width: 50%;
      float: left; } }

h3, .performers li {
  box-sizing: border-box;
  color: #fff;
  background-color: #ff748c;
  padding: 5vw;
  font-size: 4vw; }
  @media all and (min-width: 640px) {
    h3, .performers li {
      padding: 1rem;
      font-size: 1.5rem; } }

.performers {
  list-style-type: square;
  margin: 0;
  padding: 0;
  padding-left: 5vw; }

/*# sourceMappingURL=main.css.map */
