$bg-color: transparentize(darken(black, 30%), 0.25);
$hd-color: lighten($bg-color, 40%);
$hd-color: darken(pink, 20%);

$medium-width: 640px;
$large-width: 1024px;

@mixin respond-to($breakpoint) {
    @if $breakpoint == "medium" {
        @media all and (min-width: $medium-width) {
            @content;
        }
    }

    @else if $breakpoint == "large" {
        @media all and (min-width: $large-width) {
            @content;
        }
    }

}

@mixin text-shadow($x, $y, $blur, $color) {
    -webkit-text-shadow: $x $y $blur $color;
       -moz-text-shadow: $x $y $blur $color;
        -ie-text-shadow: $x $y $blur $color;
            text-shadow: $x $y $blur $color;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@include keyframes(ani-bg) {
    0% { background-color: $bg-color; }
    50% { background-color: adjust-hue($bg-color, 50%); }
    100% { background-color: $bg-color; }
}

@include keyframes(ani-hd) {
    0% { color: $hd-color; }
    50% { color: adjust-hue($hd-color, 50%); }
    100% { color: $hd-color; }
}

* {
    font-family: 'profontwindowsregular';
}

html {
    background-image: url('/img/synth-bw.jpg');
    background-size: cover;
}

h1, h2 {
    text-align: center;
    //@include animation('ani-hd 3.11s infinite');
    color: darken(pink, 15%);
    margin: 2vw 0;
    line-height: 0.75;
    background-color: transparentize(white, 0.1);;
    padding: 0.5rem;
}

h1 {
    font-size: 7vw;
}

h2 {
    font-size: 4vw;
    padding: 4vw;

    @include respond-to(medium) {
        padding: 0.5rem;
        font-size: 1.5rem;
    }
}

h3 {
    margin: 0;
    padding: 0 0.5rem;
    font-size: 4vw;

    @include respond-to(medium) {
        font-size: 1.5rem;
    }
}

.splash {
    //@include animation('ani-bg 7.777s infinite');
    background-color: $bg-color;
    width: 100%;
    position: relative;

    a {
        width: 100%;
    }

    height: 25vw;
    margin-bottom: 5vw;

    @include respond-to(medium) {
        height: 12rem;
    }
}

.logo {
    display: block;
    position: absolute;
    height: 20vw;
    top: 2vw;
    left: 4vw;

    @include respond-to(medium) {
        left: 1rem;
        top: 0.5rem;
        height: 9.25rem;
    }
}

.dates {
    position: absolute;
    text-align: right;
    margin: 0;
    font-size: 4vw;
    left: 2vw;
    bottom: -10vw;

    @include respond-to(medium) {
        left: 1rem;
        bottom: -1rem;
        font-size: 2rem;
    }
}

.schedule {
    zoom: 1;
    overflow: hidden;
}

.column {
    box-sizing: border-box;
    padding: 5vw;

    @include respond-to(medium) {
        padding: 0.5rem;
        width: 50%;
        float: left;
    }
}

h3, .performers li {
    box-sizing: border-box;
    color: #fff;
    background-color: darken(pink, 15%);
    padding: 5vw;
    font-size: 4vw;

    @include respond-to(medium) {
        padding: 1rem;
        font-size: 1.5rem;
    }
}

.performers {
    list-style-type: square;
    margin: 0;
    padding: 0;
    padding-left: 5vw;
}

